<article class="card post">
  <div class="p-2 display-flex card-header">  
    <div class="post-title">
      <a href="/post/{{id}}">{{title}}</a>
    </div>
    <div style="margin-left: auto" class="subtitle">
      Posted By {{user.username}} on {{format_date date}}
    </div>
  </div>
  <div class="post-text">
    {{content}}
  </div>
</article>